{% extends 'base.html.twig' %}

{% block content %}
	{% include "welcome_page/includes/headerHomepage.html.twig" %}
	<section class="site-section">
		<div class="container">
			<div class="row">
				<div class="col-md-5 mr-auto">
					<div class="text-left heading-wrap mb-5">
						<h2 class="mt-0 mb-5">Inscription</h2>
						<!-- Revoir les labels pour que ce soit en FR -->
						{{ form_start(registrationForm) }}
						<div class="form-group">
							{{ form_label(registrationForm.email) }}
							{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_label(registrationForm.lastname, 'Nom') }}
							{{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_label(registrationForm.firstname, 'Prénom') }}
							{{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
							{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group form-check">
							{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
							{{ form_label(registrationForm.agreeTerms, ('CGU')) }}<br/>
							<small id="" class="form-text text-muted">Conditions Générales d'Utilisation</small>
						</div>
						<button class="btn">Register</button>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
