{% extends 'base.html.twig' %}


{% block content %}

	{% include "welcome_page/includes/headerHomepage.html.twig" %}

	<div class="site-blocks-cover overlay" style="background-image: url({{ asset ('assets/images/kids-yoga-group-2.jpg') }});" data-aos="fade" data-stellar-background-ratio="0.5" id="home-section">
		<div class="container">
			<div class="row align-items-center text-center justify-content-center">
				<div class="col-md-8">

					<h1 class="font-weight-bold">Un studio de Yoga dans votre salon</h1>
					<p class="sub-text mb-4 d-block">Une tenue confortable, au moins un tapis et surtout le sourire, c'est tout ce qu'il faut pour pratiquer ensemble le Yoga !</p>
				</div>
			</div>
		</div>
	</div>
		<section class="site-section" id="qui-nous-sommes"> <div class="container">
			<div class="row">
				<div class="col-md-5 mr-auto">
					<div class="text-left heading-wrap mb-5">
						<h2 class="mt-0 mb-5">Union...</h2>
						<p>Voilà ce que que veut dire Yoga en Sanskrit. Sa pratique apporte de nombreux bienfaits physiques et permet de cultiver un esprit sain dans un corps sain</p>
						<p>
							PetitYogi conçoit des cours en ligne spéciaux pour impliquer davantage les tout-petits dans l'activité physique. Ils apprennent à être plus conscients de leur propre corps, ainsi qu'à développer leur concentration et leur relaxation.</p>
						<p>Bientôt, PetitYogi s'aggrandit et un studio arrive à Bruxelles !</p>
					</div>
				</div>
				<div class="col-md-6 position-relative align-self-center">
					<img src="{{ asset ('assets/images/kids-yoga.jpg') }}" alt="Image" class="img-overlap-1">
					<img src="{{ asset ('assets/images/babies-doing-yoga.jpg') }}" alt="Image" class="img-overlap-2">
				</div>
			</div>
		</div>
	</section>

	<section class="site-section" id="notre-offre">
		<div class="container">
			<div class="row align-items-center text-center justify-content-center">
				<div class="col-12 heading-wrap text-left mb-5">
					<h2 class="mb-5">Notre Offre</h2>
				</div>
				<div class="col-md-8">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image" style="background-image: url({{ asset ('assets/images/Kids-Yoga.jpg') }});"></div>
						<div class="text">
							<h3>L'Abonnement</h3>
							<strong>
								<p>
									<span></span>

									<strong>6.99 € / mois</strong>
									<br>
								</p>
							</strong>
							<p>Chaque mois, grâce à notre abonnement à prix tout doux, recevez un nouveau contenu intéractif et téléchargeable (vidéos, fiches technique)</p>

							<p>
								<a href="{{ path ('app_subscribe')}}" class="btn btn-primary btn-sm">Voir le détail de l'offre</a>
							</p>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="site-section element-animate" id="contactez-nous">
		<div class="mb-5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center heading-wrap">
						<h2>Nous sommes là pour vous</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<form action="#" method="post">
						<div class="row">
							<div class="col-md-6 form-group">
								<label for="name">Nom</label>
								<input type="text" id="name" class="form-control ">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group"></div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="email">Email</label>
								<input type="email" id="email" class="form-control ">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="message">Votre Message</label>
								<textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<input type="submit" value="C'EST PARTI !" class="btn btn-primary">
							</div>
						</div>
					</form>
				</div>

				<div class="col-lg-6 pl-2 pl-lg-5">

					<div class="col-md-8 mx-auto contact-form-contact-info">
						<h4 class="mb-5">PetitYogi c'est aussi un futur studio...</h4>
						<p class="d-flex">
							<span class="ion-ios-location icon mr-5"></span>
							<span>Av de Tervueren 276, Bruxelles, Belgique</span>
						</p>

						{# <p class="d-flex">
																																																													<span class="ion-ios-telephone icon mr-5"></span>
																																																													<span>+1 242 4942 290</span>
																																																												</p> #}

						<p class="d-flex">
							<span class="ion-android-mail icon mr-5"></span>
							<span>info@petityogi.com</span>
						</p>
					</div>

				</div>
			</div>
		</div>

	</section>

{% endblock %}

