{% extends 'base.html.twig' %}

{% block content %}

	<!-- faire un include d'un header correspondant //logout -->
	{% include "user_profile/includes/headerProfile.html.twig" %}

	<section class="site-section element-animate" id="user_profile">
		<div class="mb-0">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center heading-wrap">
						<h3 class="mt-0 mb-3">Namaste,
							{{app.user.firstname}}</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- YOGI FAMILY -->
		<div class="container">
			<div class="row">
				<div class="col-md-5 ml-5 mr-auto">
					<div class="text-left heading-wrap mb-5">
						<h3 class="mt-0 mb-3">Ma Yogi Family</h3>
						<!-- on affiche chaque membre de la table Membre ds la database -->
						{% for m in app.user.member %}
							<div class="mt-0 mb-5" id="{{m.id}}">
								<ul>
									<li>{{m.firstname}}
										né(e) le
										<!--ajouter l'age et une image-->
										{{m.age|date('d/m/Y')}}</li>
									<a href="/user/profile/{{m.id}}">Supp</a>
									<input type="hidden" name="id_supp" value="{{m.id}}"/>
								</ul>
							</div>
						{% endfor %}

						<!-- formulaire pour créer/insérer un membre [rattaché au user] ds la db -->
						<p>
							<a class="btn btn-primary" data-toggle="collapse" href="#collapseMembre" role="button" aria-expanded="false" aria-controls="collapseMembre">
								Ajouter un Yogi
							</a>
						</p>
						<div class="collapse" id="collapseMembre">
							<div class="card card-body">
								{{ form_start(formulaire) }}
								<div class="form-group">
									{{ form_label(formulaire.firstname, 'Prénom') }}
									{{ form_widget(formulaire.firstname, {'attr': {'class': 'form-control'}})}}
								</div>
								<div class="form-group">
									{{ form_label(formulaire.age, 'Date de naissance') }}
									{{ form_widget(formulaire.age, {'attr': {'class': 'form-control'}})}}
								</div>
								<input type="submit" class="btn btn-primary" value="Envoyer"/>
								{{ form_end(formulaire)}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</section>
{% block custom_js %}
	<script>
		$('#collapseMembre').collapse({toggle: false})
	</script>
{% endblock %}{% endblock %}
